body {
    background-color: lightgrey;
    padding-bottom: 20%;
    width: 100%;
    font-size: larger;
    font: 200%;
    font-family: "Bookman Old Style";
}

h1 {
    color: navy;
    margin-left: 20px;
    font-style: inherit;
    font: 100;
    font-family: "Arial Black";
}

button {
    background-color: darkblue;
    border: ridge;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
input{
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    padding: 10px 24px;
    background-color: cornflowerblue;
    text-align: center;
    border:ridge;
}
